.checkout{
  .items-list{
    background-color: #FFF;
    margin-bottom: 20px;
  }
  input.quantity{
    width: 40px;
  }
  td,
  th{
    vertical-align: middle;
  }
  th{
    text-transform: uppercase;
  }
  td.delete{
    text-align: center;
  }
  .item_desc{
    font-weight: bold;
    a,
    img,
    small{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  small.remove{
    width: 26px;
    height: 26px;
    .border-radius(5em);
    text-align: center;
    display: inline-block;
    border: 3px solid lighten(@grayLight, 20%);
    .box-sizing(border-box);
    a{
      color: lighten(@grayLight, 20%);
      font-weight: bold;
      font-size: 18px;
      line-height: 15px;
      width: 100%;
      height: 100%;
      &:hover{
        text-decoration: none;
      }
    }

  }
  .buttons{
    .wrapper{
      background-color: #FFF;
    }

  }
}

.checkout{
  .wrapper{
    background-color: #FFF;
    .box-sizing(border-box);
    padding: 15px;
    .box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.1));
    h4{
      color: @orange;
    }
  }
}

.checkout{
  form{
    input{
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
