h1 { font-size: @baseFontSize * 3.33; } // ~38px
h2 { font-size: @baseFontSize * 2.75; } // ~32px
h3 { font-size: @baseFontSize * 2; } // ~24px
h4 { font-size: @baseFontSize * 1.9; } // ~18px
h5 { font-size: @baseFontSize * 1.25; }
h6 { font-size: @baseFontSize; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

.page-header{
  background-color: #FFF;
  margin: 0 -@paddingSize 50px;
  padding: 20px @paddingSize;
  border-bottom: 1px solid #F0ECE5;
  position: relative;
  h1,h2,h3{
    font-size: 35px;
    text-transform: uppercase;
  }
  small{
    text-transform: none;
    padding-left: 20px;
    font-family: @serifFontFamily;
    font-style: italic;
    font-size: @baseFontSize + 2;
    position: relative;
    top: -10px;
  }
}


.page-header{
  &:after,
  &:before{
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  &:before{
    border-top-color: #F0ECE5;
    border-width: 21px;
    left: 10%;
    margin-left: -21px;
  }
  &:after{
    border-top-color: #FFFFFF;
    border-width: 20px;
    left: 10%;
    margin-left: -20px;
  }
}

@media (max-width: 768px){
  .page-header{
    background-color: #FFF;
    margin: 0 0 50px;
    padding: 20px 0;
    &:before{
      left: 50%;
    }
    &:after{
      left: 50%;
    }
  }
}

ul.bordered{
  list-style-type: none;
  li{
    border-bottom: 1px solid #E6E6E6;
    .box-shadow (0 1px #FFFFFF);
    padding: 10px 20px 10px 0;
    font-family: @serifFontFamily;
    font-size: 15px;
    color: @grayLighter;
    a{
      display: block;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

ul.inline,
ol.inline{
  list-style: none outside none;
  margin-left: 0;
  li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
