.navbar-inverse{
  margin-bottom: 0;
  .navbar-inner{
    background: #EE4E1D;
    border-color: #EE4E1D;
    .border-radius(0);
    
  }
  .nav{
    & > li{
      &.active > a,

      & > a{
        text-transform: uppercase;
        text-shadow: none;
        font-weight: bold;
        color: white;
        background-color: transparent !important;
        .box-shadow(none);
        &:hover{
          color: #77270F;
          background-color: transparent;
          .box-shadow(none);
        }
      }
    } 
  } 
}

.navbar .brand{
  padding: 7px 20px;
}

@media (min-width: @navbarCollapseWidth){
  .navbar-inverse{
    .navbar-inner{
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
