@media (min-width: 767px){
  body{
    background: ~"url(img/bg.png) repeat #DBDBDB";
  }
  .container.main{
    background-color: @innerBg;
    .box-shadow(0 0 5px 2px rgba(0, 0, 0, 0.2));
    padding: 0 @paddingSize 20px;
  }
  .full-width{
    margin-left: -@paddingSize;
    margin-right: -@paddingSize;
  }
  .footer{
    &.container{
      padding: 20px @paddingSize;
      .box-shadow(0 4px 5px 2px rgba(0, 0, 0, 0.2));
    }
  }
}