
.btn-custom-gradient(@startColor, @endColor) {
  border: 1px solid @startColor;

  background-color: @endColor;
  background: -moz-linear-gradient(center top , lighten(@startColor, 20%) 0%, lighten(@startColor, 10%) 4%, @startColor 5%, @endColor 99%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(top , lighten(@startColor, 60%) 0%, lighten(@startColor, 40%) 4%, @startColor 5%, @endColor 99%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top , lighten(@startColor, 60%) 0%, lighten(@startColor, 40%) 4%, @startColor 5%, @endColor 99%) repeat scroll 0 0 transparent;
  background: linear-gradient(center top , lighten(@startColor, 60%) 0%, lighten(@startColor, 40%) 4%, @startColor 5%, @endColor 99%) repeat scroll 0 0 transparent;
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor)));
}

