.table{
  th{
    color: #EE4E1D;
  }
}

@media only screen and (max-width: 767px) { /*640*/

  .table.responsive {
    display: block;
    position: relative;
    width: 100%;
    thead {
      display: block;
      float: left;
      tr {
        display: block;
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    td,
    th{
      height: 40px;
      .box-sizing(border-box);
      border-bottom: 1px solid @grayLight !important;
      border-top: none;
    }
    th {
      display: block;
      line-height: 20px;

    }
    td {
      display: block;
      white-space: nowrap;

    }


    th {
      border-bottom: 0;
    }
    td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    tbody tr {
      border-right: 1px solid #babcbf;
    }
    th:last-child,
    td:last-child {
      border-bottom: 1px solid #babcbf;
    }
    input{
      padding: 1px 10px;
      margin-bottom: 0;
    }
  }
}