.alert {
  padding: 15px 25px;
  margin-bottom: @baseLineHeight;
  text-shadow: none;
  background-color: @warningBg;
  border: none;
  .border-radius(@baseBorderRadius);
  color: white;
  font-size: 18px;
  font-style: italic;
  font-family: @serifFontFamily;
}

.alert-success{
  background-color: @successBg;
}

.alert-error{
  background-color: @errorBg;
}

.alert{
  .close {
    line-height: 20px;
    position: relative;
    right: -5px;
    top: -2px;
    color: white;
    opacity: 1;
  }
}