@orange: #EE4E1D;


@warningBg: #FBC021;
@successBg: #B4C489;
@errorBg: @orange;

@innerBg: #F8F8F2;

@paddingSize: 40px;


@linkColor:             #666;
@linkColorHover:        darken(@linkColor, 50%);

@navbarText:                      white;
@navbarLinkColor:                 white;
@navbarLinkColorHover:            white;
@navbarLinkColorActive:           white;

@navbarInverseLinkColor:                 white;
@navbarInverseLinkColorHover:            white;
@navbarInverseLinkColorActive:           white;

@footerBg: #222221;
@footerText: #ADADAD;