.btn-custom{
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  &:hover{
    color: white;
  }
}

.btn-orange{
  .btn-custom-gradient(#EE4E1D, #E1481A);
  &:hover{
    .btn-custom-gradient(#F0683F, #EE4E1D);
  }
}

.btn-black{
  .btn-custom-gradient(#444542, #2F2F2E);
  &:hover{
    .btn-custom-gradient(#5E5E5D, #444542);
  }
}

.btn-gray{
  .btn-custom-gradient(#DCDCDC, #CACACA);
  color: #515151;
  border: 1px solid #B5B4B4 !important;
  &:hover{
    .btn-custom-gradient(#E9E9E9, #DCDCDC);
    color: #515151;
    border: 1px solid #B5B4B4 !important;
  }
}

.btn-blue{
  .btn-custom-gradient(#A1C0C9, #71A0AC);
  &:hover{
    .btn-custom-gradient(#A4C9D2, #A1C0C9);
  }
}