.footer{
  background-color: @footerBg;
  color: @footerText;
  h5{
    color: white;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  a{
    color: @footerText;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
  ul{
    li{
      line-height: 18px;
      margin-bottom: 6px;
      a{
        font-weight: bold;
      }
    }
    &.flickr{
      li{
        margin-bottom: 12px;
      }
      img{
        .box-shadow(3px 3px 0 0 rgba(0, 0, 0, 0.3));
      }
    }
  }
}