.single_product{
  .product_info{
    background-color: #FFF;
    padding: 10px;
    .box-sizing(border-box);
    h1{
      font-size: 25px;
      color: @gray;
    }
    .subheader{
      font-style: italic;
      font-family: @serifFontFamily;
      color: @grayLight;
    }
    h6{
      color: @gray;
    }
    .quantity{
      input{
        padding: 4px;
        text-align: center;
      }
    }
    .order{
      .price{
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
      }
    }
  }
  aside{
    h3{
      color: @orange;
      margin-top: 0;
    }
  }
}