.product_grid{
  .product{
    .box-sizing(border-box);
    padding: 15px;
    border: 1px solid #E8E5DC;
    background: ~"url(img/product_detail.png) bottom left no-repeat white";
    margin-bottom: 24px;
    img{
      width: 100%;
    }
    h4{
      color: @grayDark;
      .text-overflow();
      line-height: 1.2;
    }
    small{
      display: block;
      font-style: italic;
      color: @gray;
      font-family: @serifFontFamily;
    }
    .price{
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;
      float: left;
    }
    &:hover{
      border-color: darken(#E8E5DC, 30%);
    }
  }
}

.selector{
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: left;
  .price-selector,
  .category-selector{
    display: inline-block;
    margin-right: 10px;
  }
}